/* faca modificações nesse arquivo e deixe o arquivo style.css com as configuraçoes originais */
.menu ul li a {
    margin-right: 50px;
}


.slick-prev:before, .slick-next:before {
    color: #f2fcfb;
}

.menu ul .sub-menu-2:nth-child(3) ul{
  	width: 180px;
}

.menu ul .sub-menu-4 ul{
	width: 200%;
}

.menu ul .sub-menu-5 ul{
	width: 265px;
}

.menu ul .sub-menu-3:nth-child(7) ul{
	width: 230px;
}

.menu ul .sub-menu-1:nth-child(1) ul{
	width: 285px
}

.rodape .sobre {
    padding-top: 10px;
    padding-bottom: 10px;
}

.rodape .sobre ul {
  	padding-top: 30px;
}

@media screen and (max-width: 1024px) {
    #compendio {
      visibility: hidden;
      clear: both;
      float: left;
      margin: 10px auto 5px 20px;
      width: 28%;
      display: none;
    }
  }
/* ExpoAgro*/
.menuexpo {
	background-color: #9dcc24;
}
.menubgexpo {
	background-color: #9dcc24 !important;
}

.menubgexpo a:hover {
	color: #143f06 !important;
	background-color: #9dcc24 !important;
}

#bgexpoagro {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
  }
  #bgexpoagro img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
  }

.prodexpoagro {
    position: relative;
	margin-top: 7%;
    margin-left: 25%;
	margin-bottom: 2%;
    height: 1150px;
    border-radius: 2px;
    /* object-fit: scale-down; */
    overflow: scroll;
  }

.txtexpoagro {
    position: relative;
	margin-top: 0%;
    margin-left: 25%;
	margin-bottom: 2%;
    height: 1000px;
    border-radius: 2px;
    /* object-fit: scale-down; */
    overflow: scroll;
  }

.prod-mob-expoagro{
	display:none;
}

.txtexpoagro-mob {
	display:none;
}

@media screen and (max-width: 360px) {
	#bgexpoagro {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    /*width: 200%;*/ 
	width: 570px;
    height: 200%;
  }
  #bgexpoagro img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
	max-width: 90%;
  }

.prodexpoagro {
	display: none;
    position: relative;
	margin-top: 0%;
    margin-left: 0%;
	margin-bottom: 2%;
    height: 100%;
    border-radius: 2px;
    /* object-fit: scale-down; */
    overflow: scroll;
	width: 350px;
	max-width: 90%;
  }
.prod-mob-expoagro{
	display:block;
	position: relative;
	margin-top: 0%;
    margin-left: 0%;
	margin-bottom: 2%;
    height: 100%;
    border-radius: 2px;
    /* object-fit: scale-down; */
    overflow: scroll;
	width: 350px;
	max-width: 90%;
}
	
.txtexpoagro {
	display: none;
    position: relative;
	margin-top: 0%;
    margin-left: 0%;
	margin-bottom: 2%;
    height: 100%;
    border-radius: 2px;
    /* object-fit: scale-down; */
    overflow: scroll;
	width: 350px;
	max-width: 90%;
  }
	
.txtexpoagro-mob {
	display: block;
    position: relative;
	margin-top: 0%;
    margin-left: 0%;
	margin-bottom: 2%;
    height: 100%;
    border-radius: 2px;
    /* object-fit: scale-down; */
    overflow: scroll;
	width: 350px;
	max-width: 90%;
  }
}

@media screen and (max-width: 414px) {
	#bgexpoagro {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    /*width: 200%;*/ 
	width: 570px;
    height: 200%;
  }
  #bgexpoagro img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
	max-width: 110%;
  }

.prodexpoagro {
	display: none;
    position: relative;
	margin-top: 0%;
    margin-left: 0%;
	margin-bottom: 2%;
    height: 100%;
    border-radius: 2px;
    /* object-fit: scale-down; */
    overflow: scroll;
	width: 350px;
  }

	.prod-mob-expoagro{
	display:block;
	position: relative;
	margin-top: 0%;
    margin-left: 0%;
	margin-bottom: 2%;
    height: 100%;
    border-radius: 2px;
    /* object-fit: scale-down; */
    overflow: scroll;
	width: 350px;
	max-width: 90%;
}
	
.txtexpoagro {
	display: none;
    position: relative;
	margin-top: 0%;
    margin-left: 0%;
	margin-bottom: 2%;
    height: 100%;
    border-radius: 2px;
    /* object-fit: scale-down; */
    overflow: scroll;
	width: 350px;
	max-width: 90%;
  }
	
.txtexpoagro-mob {
	display: block;
    position: relative;
	margin-top: 0%;
    margin-left: 0%;
	margin-bottom: 2%;
    height: 100%;
    border-radius: 2px;
    /* object-fit: scale-down; */
    overflow: scroll;
	width: 350px;
	max-width: 90%;
  }
}
/*Fim ExpoAgro*/

/*Data e Botões Compartilhar*/

.div-bt-tw{
	margin-top: 0px !important;
}
/*
.div-bt-fb{
	margin-top: -5px !important;
}
*/
.mobileShow p {
	font-family: 'bw_modelica_ss01extrabold';
}