/* faca modificações nesse arquivo e deixe o arquivo style.css com as configuraçoes originais */

/* inicio menu nav bar */

abbr[title] {
    text-decoration: none;
}

.slick-prev:before, .slick-next:before {
    color: #f2fcfb;
}

.menu ul .sub-menu:nth-child(3) ul{
  	width: 180px;
}

.menu ul .sub-menu ul{
	width: 200px;
}

.menu ul .sub-menu ul{
	width: 265px;
}

.menu ul .sub-menu ul{
	width: 230px;
}

.menu ul .sub-menu:nth-child(7) ul{
	width: 230px;
}

.menu ul .sub-menu:nth-child(1) ul{
	width: 285px
}

.rodape .sobre {
    padding-top: 10px;
    padding-bottom: 10px;
}

.rodape .sobre ul {
  	padding-top: 30px;
}

.menu-mobile menu{
    display: none;
}
@media screen and (max-width: 784px){
    .menu-mobile menu{
        display: block;
        margin: 10px 0px;
        text-align: center;
    }

    .menu ul.menu-off, 
    ul#sub-ul.menus-off {
        display: none;
    }

    .menu ul.menu-on,
    ul#sub-ul.menus-on, 
    .sub-sub-menu ul#drop-box.menu-on {
        display: flex;
        flex-direction: column;
    }


    .menu-mobile .sub-menu ul {
    position: relative !important;
    top: 0px !important;
    width: 100% !important;
    text-align: center !important;
    background-color: #007dd7 !important;
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    }
}

.box-cdm {
    display: none;

}
a:hover > div.box-cdm {
    display: flex;
    position: absolute;
    top: -144%;
    z-index: 5;
    background-color: #007dd7;
    padding: 8px;
    border-radius: 6px;
}

.box-cdm:after,
.box-cdm:before {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #007dd7;
    bottom: -13px;
    content: '';
    left: 30%;
    margin-left: -30px;
    position: absolute;
}

/* fim menu nav bar */


/*DROPDOWN*/

#drop-box{
    display: none;
}

.sub-sub-menu{
    position: relative;
}

@media screen and (min-width: 784px) {
    
    .sub-sub-menu:hover > #drop-box{
        position: absolute;
        display: inline-block;
        left: 230px;
        top: auto;
    }
}

@media screen and (max-width: 784px){
    .sub-sub-menu > ul#drop-box.menus-off {
        display: none;
    }

    .sub-sub-menu > ul#drop-box.menus-on {
        display: flex;
        flex-direction: column;
        position: absolute;
    }
    
}

/*DROPDOWN*/

@media screen and (max-width: 1024px) {
    #compendio {
      visibility: hidden;
      clear: both;
      float: left;
      margin: 10px auto 5px 20px;
      width: 28%;
      display: none;
    }
  }

/*ligthbox*/
.galeria .bloco .pinterest img{
	object-fit: cover;
    width: 216px;
    height: 150px;
}

.galeria .bloco .pinterest img:hover{
	scale: 1.05;
}

.galeria .bloco .pinterest .icone-play img {
    width: 20%;
    height: auto;
}

/*ligthbox - fim*/

/*ligthbox-organograma*/
.img-min{
    list-style: none;
    display: flex;
}

.img-min img{
    border: 2px solid rgb(25, 72, 158);
	border-radius: 15px;
}

.min{
    width: 500px;
    padding: 10px;
}

.lbox:target{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    background: rgb(28, 51, 92, 75%);
    position: absolute;
	z-index: 10;
}



.lbox{
    display: none;
    opacity: 0;
}

.box_img{
    width: 1000px;
    display: flex;
    justify-content: center;
	margin: 150px auto;
}

.btn{
    color: aliceblue;
    font-family: "Arial";
    text-decoration: none;
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    position: fixed;
}

#close{
    top: 0;
    right: 2%;
}

@media screen and (max-width: 768px){
	.lbox:target{
        display: none;
    }
	.img-min{
	padding-left: 0;
	padding-right:25px;
}
}
/*ligthbox-fim - organograma*/


/* ExpoAgro*/
.menuexpo {
	background-color: #9dcc24;
}
.menubgexpo {
	background-color: #9dcc24 !important;
}

.menubgexpo a:hover {
	color: #143f06 !important;
	background-color: #9dcc24 !important;
}

#bgexpoagro {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
  }
  #bgexpoagro img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
  }

.prodexpoagro {
    position: relative;
	margin-top: 7%;
    margin-left: 25%;
	margin-bottom: 2%;
    height: 1150px;
    border-radius: 2px;
    /* object-fit: scale-down; */
    overflow: scroll;
  }

.txtexpoagro {
    position: relative;
	margin-top: 0%;
    margin-left: 25%;
	margin-bottom: 2%;
    height: 1000px;
    border-radius: 2px;
    /* object-fit: scale-down; */
    overflow: scroll;
  }

.prod-mob-expoagro{
	display:none;
}

.txtexpoagro-mob {
	display:none;
}

@media screen and (max-width: 360px) {
	#bgexpoagro {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    /*width: 200%;*/ 
	width: 570px;
    height: 200%;
  }
  #bgexpoagro img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
	max-width: 90%;
  }

.prodexpoagro {
	display: none;
    position: relative;
	margin-top: 0%;
    margin-left: 0%;
	margin-bottom: 2%;
    height: 100%;
    border-radius: 2px;
    /* object-fit: scale-down; */
    overflow: scroll;
	width: 350px;
	max-width: 90%;
  }
.prod-mob-expoagro{
	display:block;
	position: relative;
	margin-top: 0%;
    margin-left: 0%;
	margin-bottom: 2%;
    height: 100%;
    border-radius: 2px;
    /* object-fit: scale-down; */
    overflow: scroll;
	width: 350px;
	max-width: 90%;
}
	
.txtexpoagro {
	display: none;
    position: relative;
	margin-top: 0%;
    margin-left: 0%;
	margin-bottom: 2%;
    height: 100%;
    border-radius: 2px;
    /* object-fit: scale-down; */
    overflow: scroll;
	width: 350px;
	max-width: 90%;
  }
	
.txtexpoagro-mob {
	display: block;
    position: relative;
	margin-top: 0%;
    margin-left: 0%;
	margin-bottom: 2%;
    height: 100%;
    border-radius: 2px;
    /* object-fit: scale-down; */
    overflow: scroll;
	width: 350px;
	max-width: 90%;
  }
}

@media screen and (max-width: 414px) {
	#bgexpoagro {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    /*width: 200%;*/ 
	width: 570px;
    height: 200%;
  }
  #bgexpoagro img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
	max-width: 110%;
  }

.prodexpoagro {
	display: none;
    position: relative;
	margin-top: 0%;
    margin-left: 0%;
	margin-bottom: 2%;
    height: 100%;
    border-radius: 2px;
    /* object-fit: scale-down; */
    overflow: scroll;
	width: 350px;
  }

	.prod-mob-expoagro{
	display:block;
	position: relative;
	margin-top: 0%;
    margin-left: 0%;
	margin-bottom: 2%;
    height: 100%;
    border-radius: 2px;
    /* object-fit: scale-down; */
    overflow: scroll;
	width: 350px;
	max-width: 90%;
}
	
.txtexpoagro {
	display: none;
    position: relative;
	margin-top: 0%;
    margin-left: 0%;
	margin-bottom: 2%;
    height: 100%;
    border-radius: 2px;
    /* object-fit: scale-down; */
    overflow: scroll;
	width: 350px;
	max-width: 90%;
  }
	
.txtexpoagro-mob {
	display: block;
    position: relative;
	margin-top: 0%;
    margin-left: 0%;
	margin-bottom: 2%;
    height: 100%;
    border-radius: 2px;
    /* object-fit: scale-down; */
    overflow: scroll;
	width: 350px;
	max-width: 90%;
  }
}
/*Fim ExpoAgro*/

/*Data e Botões Compartilhar*/

.div-bt-tw{
	margin-top: 0px !important;
}
/*
.div-bt-fb{
	margin-top: -5px !important;
}
*/
.mobileShow p {
	font-family: 'bw_modelica_ss01extrabold';
}
